@{
    ViewBag.Title = "TeamWork";
}

<link href="@Url.Content("~/Content/css/About.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/project.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/CommonModule/About/projInfo.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/CommonModule/About/Project.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/TeamWork/teamwork.js")" type="text/javascript"></script>


<div id="Home">
    <div id="HomeContent">
        <div class="AboutModule"  style="width:98%;margin-left:25px;margin-top:60px;">
            <div class="About_item">
                <span class="About_module_title">团队作品：</span>
                <div class="About_item_content About_item_works teamworkbox">
                    <span class="About_year">2012年</span>
                    <div class="About_item_works_option team_item_list">
                        <span>4月</span><div>海南抗震监管备案设防平台</div><div class="item_number">项目编号：XM11097</div><div class="item_info item_info_disable">资料链接</div><br />
                        <div class="About_option_bottom"><span>成&nbsp;&nbsp;&nbsp;员：</span><span>崔&nbsp;&nbsp;&nbsp;艺</span><span>雷&nbsp;&nbsp;&nbsp;磊</span><span>王少波</span><span>柯&nbsp;&nbsp;&nbsp;文</span><span>李&nbsp;&nbsp;&nbsp;夏</span><span>李剑萍</span><span>孟&nbsp;&nbsp;&nbsp;荣</span><span>帅&nbsp;&nbsp;&nbsp;磊</span><span>刘艳杰</span></div>
                    </div>
                    <div class="About_item_works_option  team_item_list">
                        <span>6月</span><div>云南地质灾害信息管理系统</div><div class="item_number">项目编号：DLXM20120035</div><div class="item_info item_info_disable">资料链接</div>
                        <div class="About_option_bottom"><span>成&nbsp;&nbsp;&nbsp;员：</span><span>崔&nbsp;&nbsp;&nbsp;艺</span><span>雷&nbsp;&nbsp;&nbsp;磊</span><span>孟&nbsp;&nbsp;&nbsp;荣</span><span>帅&nbsp;&nbsp;&nbsp;磊</span><span>李亚斌</span><span>曹晓敏</span></div>                    
                    </div>
                    <div class="About_item_works_option  team_item_list">
                        <span>10月</span><div>大连地质灾害信息管理系统</div><div class="item_number">项目编号：DLXM20120027</div><div class="item_info">资料链接</div>
                        <div class="About_option_bottom"><span>成&nbsp;&nbsp;&nbsp;员：</span><span>崔&nbsp;&nbsp;&nbsp;艺</span><span>雷&nbsp;&nbsp;&nbsp;磊</span><span>王少波</span><span>曹晓敏</span><span>李亚斌</span><span>帅&nbsp;&nbsp;&nbsp;磊</span><span>李剑萍</span><span>梁&nbsp;&nbsp;&nbsp;旭</span><span>李&nbsp;&nbsp;&nbsp;夏</span><span>刘艳杰</span><span>蒋建明</span></div>
                    </div>
                </div>
                <div class="About_item_content About_item_works teamworkbox" style="margin-left: 115px;">
                    <span class="About_year">2013年</span>
                    <div class="About_item_works_option  team_item_list">
                        <span>3月</span><div>地质灾害产品行业开发SDK</div>
                        <div class="item_number">项目编号：IP2013-0001</div>
                        <div class="item_info item_info_disable">资料链接</div>
                        <div class="About_option_bottom" style="width:500px;"><span>成&nbsp;&nbsp;&nbsp;员：</span><span>雷&nbsp;&nbsp;&nbsp;磊</span><span>李亚斌</span></div>
                    </div>
                    <div class="About_item_works_option team_item_list">
                        <span>4月</span><div>福建地质灾害信息管理系统</div>
                        <div class="item_number">项目编号：XM11028</div>
                        <div class="item_info">资料链接</div>
                        <div class="About_option_bottom"><span>成&nbsp;&nbsp;&nbsp;员：</span><span>崔&nbsp;&nbsp;&nbsp;艺</span><span>雷&nbsp;&nbsp;&nbsp;磊</span><span>王少波</span><span>曹晓敏</span><span>孟&nbsp;&nbsp;&nbsp;荣</span><span>帅&nbsp;&nbsp;&nbsp;磊</span><span>李剑萍</span><span>梁&nbsp;&nbsp;&nbsp;旭</span><span>李&nbsp;&nbsp;&nbsp;夏</span><span style="margin-left:80px;">蒋建明</span></div>
                    </div>
                    <div class="About_item_works_option team_item_list">
                        <span>4月</span><div>江西省地质灾害预警预报系统</div>
                        <div class="item_number">项目编号：XM11089</div>
                        <div class="item_info item_info_disable">资料链接</div>
                        <div class="About_option_bottom"><span>成&nbsp;&nbsp;&nbsp;员：</span><span>雷&nbsp;&nbsp;&nbsp;磊</span><span>李亚斌</span><span>帅&nbsp;&nbsp;&nbsp;磊</span><span>李剑萍</span><span>曹晓敏</span></div>
                    </div>
                    <div class="About_item_works_option team_item_list">
                        <span>6月</span><div>龙岩地质灾害信息管理系统</div>
                        <div class="item_number">项目编号：XM11028</div>
                        <div class="item_info item_info_disable">资料链接</div>
                        <div class="About_option_bottom"><span>成&nbsp;&nbsp;&nbsp;员：</span><span>雷&nbsp;&nbsp;&nbsp;磊</span><span>王少波</span><span>帅&nbsp;&nbsp;&nbsp;磊</span><span>曹晓敏</span><span>宁&nbsp;&nbsp;&nbsp;楠</span><span>李&nbsp;&nbsp;&nbsp;雄</span><span>张振强</span><span>赵森森</span><span>熊燕萍</span></div>
                    </div>
                    <div class="About_item_works_option team_item_list">
                        <span>8月</span><div>win8地灾系统APP</div>
                        <div class="item_number">项目编号：IP2013-0002</div>
                        <div class="item_info item_info_disable">资料链接</div>
                        <div class="About_option_bottom"><span>成&nbsp;&nbsp;&nbsp;员：</span><span>雷&nbsp;&nbsp;&nbsp;磊</span><span>帅&nbsp;&nbsp;&nbsp;磊</span><span>曹晓敏</span><span>蒋建明</span><span>宁&nbsp;&nbsp;&nbsp;楠</span><span>李&nbsp;&nbsp;&nbsp;雄</span></div>
                    </div>
                    <div class="About_item_works_option  team_item_list">
                        <span>9月</span><div>农村村庄地理信息系统</div>
                        <div class="item_number">项目编号：IP2013-0003</div>
                        <div class="item_info">资料链接</div>
                        <div class="About_option_bottom"><span>成&nbsp;&nbsp;&nbsp;员：</span><span>雷&nbsp;&nbsp;&nbsp;磊</span><span>帅&nbsp;&nbsp;&nbsp;磊</span><span>曹晓敏</span><span>张振强</span><span>赵森森</span><span>李&nbsp;&nbsp;&nbsp;雄</span></div>
                    </div>
                    <div class="About_item_works_option team_item_list">
                        <span>10月</span><div style="height:30px;">R<font style="font-size: 10px; color:#017586">2</font>Team Develpoer Library</div>
                        <div class="item_number">项目编号：IP2013-0004</div>
                        <div class="item_info">资料链接</div>
                        <div class="About_option_bottom"><span>成&nbsp;&nbsp;&nbsp;员：</span><span>雷&nbsp;&nbsp;&nbsp;磊</span><span>帅&nbsp;&nbsp;&nbsp;磊</span><span>曹晓敏</span><span>张振强</span><span>赵森森</span><span>宁&nbsp;&nbsp;&nbsp;楠</span><span>蒋建明</span><span>郭&nbsp;&nbsp;&nbsp;毅</span></div>
                    </div>
                    <div class="About_item_works_option  team_item_list">
                        <span>12月</span><div>丽江世界文化遗产保护系统</div>
                        <div class="item_number">项目编号：IP2013-0005</div>
                        <div class="item_info">资料链接</div>
                        <div class="About_option_bottom"><span>成&nbsp;&nbsp;&nbsp;员：</span><span>雷&nbsp;&nbsp;&nbsp;磊</span><span>帅&nbsp;&nbsp;&nbsp;磊</span><span>王少波</span><span>宁&nbsp;&nbsp;&nbsp;楠</span><span>蒋建明</span><span>李&nbsp;&nbsp;&nbsp;雄</span></div>
                    </div>
                    <div class="About_item_works_option  team_item_list">
                        <span>12月</span><div>中国地下水资源数据库管理系统（平板）</div>
                        <div class="item_number">项目编号：IP2013-0006</div>
                        <div class="item_info item_info_disable">资料链接</div>
                        <div class="About_option_bottom"><span>成&nbsp;&nbsp;&nbsp;员：</span><span>雷&nbsp;&nbsp;&nbsp;磊</span><span>帅&nbsp;&nbsp;&nbsp;磊</span><span>蒋建明</span></div>
                    </div>
                </div>
                <div class="About_item_content About_item_works teamworkbox" style="margin-left: 115px;">
                    <span class="About_year">2014年</span>
                    <div class="About_item_works_option team_item_list">
                        <span>1月</span><div>中国地质大学出版社电子平台（平板）</div>
                        <div class="item_number">项目编号：IP2014-0007</div>
                        <div class="item_info item_info_disable">资料链接</div>
                        <div class="About_option_bottom"><span>成&nbsp;&nbsp;&nbsp;员：</span><span>雷&nbsp;&nbsp;&nbsp;磊</span><span>帅&nbsp;&nbsp;&nbsp;磊</span><span>蒋建明</span></div>
                    </div>
                    <div class="About_item_works_option team_item_list">
                        <span>1月</span><div>地质灾害产品三维演示系统</div>
                        <div class="item_number">项目编号：IP2014-0008</div>
                        <div class="item_info item_info_disable">资料链接</div>
                        <div class="About_option_bottom"><span>成&nbsp;&nbsp;&nbsp;员：</span><span>雷&nbsp;&nbsp;&nbsp;磊</span><span>王少波</span><span>帅&nbsp;&nbsp;&nbsp;磊</span><span>宁&nbsp;&nbsp;&nbsp;楠</span><span>张振强</span><span>李&nbsp;&nbsp;&nbsp;雄</span><span>郭&nbsp;&nbsp;&nbsp;毅</span><span>赵森森</span><span>蒋建明</span></div>
                    </div>
                    <div class="About_item_works_option team_item_list">
                        <span>2月</span><div>海南民居工程</div>
                        <div class="item_number">项目编号：IP2014-0009</div>
                        <div class="item_info">资料链接</div>
                        <div class="About_option_bottom"><span>成&nbsp;&nbsp;&nbsp;员：</span><span>雷&nbsp;&nbsp;&nbsp;磊</span><span>帅&nbsp;&nbsp;&nbsp;磊</span><span>李&nbsp;&nbsp;&nbsp;雄</span><span>张振强</span><span>熊燕萍</span><span>曹四文</span><span>蒋建明</span></div>
                    </div>
                    <div class="About_item_works_option team_item_list">
                        <span>3月</span><div>济南地质灾害气象预警预报系统</div>
                        <div class="item_number">项目编号：待定</div>
                        <div class="item_info">资料链接</div>
                        <div class="About_option_bottom"><span>成&nbsp;&nbsp;&nbsp;员：</span><span>雷&nbsp;&nbsp;&nbsp;磊</span><span>帅&nbsp;&nbsp;&nbsp;磊</span><span>王少波</span><span>曹晓敏</span><span>李&nbsp;&nbsp;&nbsp;雄</span><span>张振强</span><span>赵森森</span><span>郭&nbsp;&nbsp;&nbsp;毅</span><span>熊燕萍</span><span style="margin-left:80px;">曹四文</span></div>
                    </div>
                </div>
            </div> 

            <div id="projInfoContentDiv" style="display:none; margin-top:50px;">
                <div class="projReturn">后退</div>
                <div class="projInfoTitle" style="color:#181818;">资料链接</div>
                <div class="projInfoLinks">
                    <div class="projUrlDiv">
                        <label>1.内网地址</label><a  href="" target ="_blank" class="projUrl"></a>
                    </div>
                    <div class="projInfoDocs">                        
                        <label>2.项目相关文档</label>
                        <table id="projtable">

                            <tr>
                                <td class="projTableLeft">项目需求文档</td>
                                <td class="projTableRight">
                                    <a class="projXQdoc" target ="_blank" href="" >点击查看项目需求文档</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="projTableLeft">项目原始数据</td>
                                <td class="projTableRight">
                                    <a class="projYSSJDoc" target ="_blank"  href="">点击查看项目原始数据文档</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="projTableLeft">项目过程分析</td>
                                <td class="projTableRight">
                                    <a class="projZJGCFXDoc" target ="_blank" href="">点击查看项目过程分析文档</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="projTableLeft">项目功能分析</td>
                                <td class="projTableRight">
                                    <a class="projGNFXDoc" target ="_blank" href="">点击查看项目功能分析文档</a>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

